<nav>
  <div class="logo">
    <img src="/images/logo.png" alt="logo" />
  </div>

  <form action="/search" method="GET" class="search">
    <input type="search" name="q" placeholder="Search your product" value="<%= query || '' %>" />
    <button type="submit">
      <i class="ri-search-line"></i>
    </button>
  </form>

<% if(!isloginpage && !ishostloginpage){ %>

  <button class="login-btn-nav">
    <a href="/login">Login</a>
  </button>

<% } else if(ishostloginpage){ %>

  <button class="login-btn-nav">
    <a href="/login">User Login</a>
  </button>

<% } else { %>

  <button class="login-btn-nav">
    <a href="/signup">Signup</a>
  </button>

<% } %>

  <!-- MOBILE MENU -->
  <div class="menu-toggle">
    <i class="ri-menu-3-line"></i>
  </div>

  <div class="mobile-menu">
    <form action="/search" method="GET" class="search mobile-search">
      <input type="search" name="q" placeholder="Search your product" value="<%= query || '' %>" />
      <button type="submit">
        <i class="ri-search-line"></i>
      </button>
    </form>

    <div class="links">
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    </div>
  </div>
</nav>
