<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>

    <!-- Remix Icon -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/mix.css" />
    <link rel="stylesheet" href="/css/editProduct.css">
    <link rel="stylesheet" href="/css/hostProductList.css">

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
</head>